{% extends 'base2.html.twig' %}
{% block title %} modifier des action {% endblock %}

{% block content %}
    <br><br>    <br><br>
    <br><br><br><br>
    <br><br>
    <form style ="margin-left: 300px; width: content-box; top: 200px; font-family: Arial">
{{ form(form) }}
    </form>
{% endblock %}