
{% extends 'base.html.twig' %}

{% block content %}


<section class="sec-padding volunteer-profile">
    <div class="container">


        <div class="row">
            <div class="col-md-4 col-sm-5">
                <img class="profile-img" src=""  alt="">
            </div>
            <div class="col-md-8 col-sm-7 single-team-member">
                {% for migrant in migrant %}
                <h3>   {{ migrant.username }} </h3>
               <span></span>
                <ul class="infos">
                    <li><span>Age</span> <span></span></li>
                    <li><span>Tel</span> <span></span></li>
                    <li><span>email</span> <span>{{ migrant.email }}</span></li>
                    <li><span>Langue</span> <span></span></li>
                    <li><span>Competence</span> <span></span></li>
                </ul>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
    <section class="home-appointment-form volunteer-profile">
        <div class="container">
            <hr>
            <div class="heading">
                <h3>Completez votre profil maintenant !</h3>
            </div>
            <div class="col-md-4 col-sm-12 sidebar-inner pull-right pull-sm-none">
                <div class="side-bar-widget">
                    <div class="single-sidebar-widget search">
                        <form action="#">
                            <a class="thm-btn btn-xs" href="{{path('camp_ajout_migrant')}}">ENTRER ICI !<i class="fa fa-chevron-circle-right"></i></a>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}